<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh-CN">
	<head>
		<link rel="stylesheet" type="text/css" href="../static/css/main.css"/>
		<link rel="stylesheet" type="text/css" href="../static/css/letv_devmgr_404.css"/>
		<script type="text/javascript" src="../static/js/jquery.min.js"></script>
	</head>
	<body>
		<div class="container">
			<div class="container-inner">
				<div class="top">
					404
				</div>
				<div class="center">
					很抱歉，您所访问的页面不存在！
				</div>
				<div class="bottom">
					<a href="/index">返回首页</a>
				</div>
			</div>
		</div>
	</body>
</html>

