{% extends "base.html" %}
{% load staticfiles %}
{% block script %}
<style>
.photo-container{
	margin:0 auto;
}
.photo_div{
	width:150px;
	float:left;
	margin:4px;
}
.photo_div img{
	margin:5px 0;
}
.photo-main{
}
.btn-load{
	background-color:#48AE15;
	text-align:center;
	color:#fff;
	padding:5px;
	margin:5px;
	widht:100%;
	clear:both;
	cursor:pointer;
	border-radius:5px;
}
</style>
<link rel="stylesheet" href="{% static 'css/jquery-fullsizable.css' %}">
<link rel="stylesheet" href="{% static 'css/jquery-fullsizable-theme.css' %}">
<script src="{% static 'js/jquery.touchSwipe.min.js' %}"></script>
<script src="{% static 'js/jquery.fullsizable.js' %}"></script>
<script>

function getMinHeightDivId(col){
	var minDivHeight=$("#photo_div_0").height();
	var id=0;
	for(k=0;k<col;k++){
		var d="#photo_div_"+k;
		if($(d).height()<minDivHeight){
			minDivHeight=$(d).height();
			divId="#photo_div_"+k;
			id=k;
		}
		//console.log($(d).height());
	}
	//console.log(id);
	//console.log("--------------------------");
	return "#photo_div_"+id;
}

function setPhotoCol(){
	col=Math.floor($("#l_box").width() / (150+2*margin));
	var html="";
	for(var i=0;i<col;i++){
		html+='<div id="photo_div_'+i+'" class="photo_div"></div>';
	}
	$(".photo-main").append(html);	
}


var loadImgNum=0;
var imgIdxMap={};
var firstInit=true;
function getPhoto() {
	$.ajax({
		type : "GET",
		async : false,
		url : "/getPhotos",
		data : {
			albumId:"{{albumId}}",
			pageIndex:pageIndex
		},
		dataType : "json",
		success : function(data) {
			if(data["loadmore"]==true){
				$(".load-more")[0].innerHTML='<div class="btn-load" onclick="getPhoto()">加 载 更 多</div>';	
			}else{
				$(".load-more")[0].innerHTML='<div class="btn-load">无 更 多 加 载</div>';	
			}
			for(var i=0;i<data["rows"].length;i++){
				var photoId=data["rows"][i].id;
				var albumId=data["rows"][i].albumId;
				var index=pageIndex*pageShowImgNum+i;
				var aId="photo_main_a_"+index;
				$(".photo-main")[0].innerHTML+="<a id='"+aId+"' href='"+data["rows"][i].path+"'><img style='display:none;' src='"+data["rows"][i].path+"'></a>";
				$(aId).hide();
				
				(function(_i){
					var index=pageIndex*pageShowImgNum+_i;
					var aId="#photo_main_a_"+index;
					var img = $("<img/>")
					img.attr("src",data["rows"][_i].path);
					//var divId="#photo_div_"+_i%col;
					img.load(function(e){
						//$(this).show();
						$(aId).html(img);
						$(aId).show();
						//将图片移动到高度最小的列
						$(divId).append($(aId));
						divId=getMinHeightDivId(col);
						//由于图片同宽不同高，显示顺序根据图片加载的快慢导致排列的位置是不固定的
						//每张图片加载完成的先后顺序就是fullsizable预览时的顺序
						imgIdxMap[$(this).attr("src")]=loadImgNum;
						loadImgNum++;
						$('.photo-main a').fullsizable({
							//"detach_id": 'photo-container',
							"imgIdxMap":imgIdxMap,
							"firstInit": firstInit//(pageIndex==0 || pageIndex==1) ? true:false
						});
						firstInit=false;
					});
				})(i);
			}
			pageIndex++;
		},
		error : function(data) {
			alert("getPhoto() error");
		}
	});
}

function getNav() {
	var albumId="{{albumId}}";
	$.ajax({
		type : "GET",
		async : true,
		url : "/getAlbums/"+albumId,
		data : {
		},
		dataType : "json",
		success : function(data) {
			if(data["total"]>0){
				$(".gallery-nav")[0].innerHTML='<a href="/gallery">相册</a>-><a href="/gallery/'+data["rows"][0].id+'">'+data["rows"][0].name+'</a>';
			}
		},
		error : function(data) {
			alert("getNav() error");
		}
	});
}

</script>
{% endblock %}
{% block content %}
<div id="photo-container" class="photo-container">
<div class="gallery-nav"></div>
<div class="photo-main"></div>
<div class="load-more"></div>
<div class="fulltest"></div>
</div>
<script>
var pageIndex=0;
var margin=4;
var col=0;
var divId="#photo_div_0";
var pageShowImgNum={{PAGE_SHOW_IMG_NUM}};
$(document).on('fullsizable:opened', function(){
	$("#jquery-fullsizable").swipe({
		swipeLeft: function(){
	  		$(document).trigger('fullsizable:next')
		},
		swipeRight: function(){
		  	$(document).trigger('fullsizable:prev')
		},
		swipeUp: function(){
		  	$(document).trigger('fullsizable:close')
		}
	});
});
/*
window.onresize = function(){
	$(".photo-container").css("width",Math.floor($("#l_box").width() / (150+2*margin)) * (150 + 2*margin));
}
$(".photo-container").css("width",Math.floor($("#l_box").width() / (150+2*margin)) * (150 + 2*margin));
*/
setPhotoCol();
getNav();
getPhoto();
</script>
{% endblock %}