{% extends "base.html" %}
{% load staticfiles %}
{% block script %}
<style>
.photo-container{
	margin:0 auto;
}
.photo_div{
	width:150px;
	float:left;
	margin:4px;
}
</style>
<script>
function getPhoto() {
	$.ajax({
		type : "GET",
		async : true,
		url : "/getPhotos",
		data : {
			albumId:"{{albumId}}"
		},
		dataType : "json",
		success : function(data) {
			var html="";
			for(var i=0;i<data["rows"].length;i++){
				html+='<div class="photo_div"><img src="'+data["rows"][i].path+'"></div>';
			}
			$(".photo-main")[0].innerHTML=html;
		},
		error : function(data) {
			alert("getPhoto() error");
		}
	});
}

function getNav() {
	var albumId="{{albumId}}";
	$.ajax({
		type : "GET",
		async : true,
		url : "/getAlbums/"+albumId,
		data : {
		},
		dataType : "json",
		success : function(data) {
			if(data["total"]>0){
				$(".gallery-nav")[0].innerHTML='<a href="/gallery">相册</a>-><a href="/gallery/'+data["rows"][0].id+'">'+data["rows"][0].name+'</a>';
			}
		},
		error : function(data) {
			alert("getNav() error");
		}
	});
}
</script>
{% endblock %}
{% block content %}
<div class="photo-container">
<div class="gallery-nav"></div>
<div class="photo-main"></div>
</div>
<script>
window.onresize = function(){
	$(".photo-container").css("width",Math.floor($("#l_box").width() / 150) * (150 + 2*4));
}
$(".photo-container").css("width",Math.floor($("#l_box").width() / 150) * (150 + 2*4));
getNav();
getPhoto();
</script>
{% endblock %}