<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>温小猫的博客</title> 
{%load staticfiles%}
<link rel="stylesheet" href="{% static 'css/base.css' %}">
<link rel="stylesheet" href="{% static 'css/phone.css' %}">
<!-- <script src="{% static 'js/jquery.min.js' %}"></script> -->
<script src="{% static 'js/jquery-1.4.4.min.js' %}"></script>
</head>
<body>
	<div class="base">
		帐号<input type="text"/><br/>
		密码<input type="password"/>
		<button>登录</button>
		<button>注销</button>
	</div>
</body>
</html>