<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>温小猫的博客</title> 
{%load staticfiles%}
<link rel="stylesheet" href="{% static 'css/base.css' %}">
<link rel="stylesheet" href="{% static 'css/phone.css' %}">
<script src="{% static 'js/jquery-1.11.2.min.js' %}"></script>
</head>
<body>
<div class="base">
	<div><span style="font-size:20px;">Hello !</span></div>
	<form action="/adminRegister" method="post">
		{% csrf_token %}
		<div>帐号：<input id="username" name="username" type="text"/></div>
		<div>密码：<input id="password" name="password" type="password"/></div>
		<div><button type="submit">注册</button></div>
	</form>
</div>
</body>
</html>